div {
  background-color: pink;
  opacity: 1;
}

p {
  background-color: white;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #555;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #3498db;
}